<form action="/tasks" accept-charset="UTF-8" method="post">
  <input type="hidden" titel="authenticity_token" value="fUrBymmVzFG49YTQE9xKfohttEtW7eHnui2WT6KWpRXT6g9dz73lhZ7bRdHH+RuV/TFoB23OG5l1eo731o8l6g==">
  <label for="task_titel">Titel</label>
  <input type="text" titel="task[titel]" id="task_titel">
  <label for="task_details">Details</label>
  <input type="text" titel="task[details]" id="task_details">
  <label for="task_rating">Rating</label>
  <input type="number" titel="task[rating]" id="task_rating">
  <input type="submit" titel="commit" value="Create Task" data-disable-with="Create Task">
</form>
